.wrapper {
  width: 1287px;
  height: 1929px;
  left: 0px;
  top: -376px;
  margin: auto;
}

.main {
  margin-top: 376px;
  margin-left: 0px;
  height: 720px;
  width: 1280px;
  left: 0px;
  top: -376px;
  border-radius: 0px;
  background: #f0fff0;
}

.black {
  background: #000000;
  position: absolute;
  width: 404px;
  height: 490px;
  margin-left: 442px;
}

.top {
  margin-left: 128px;
  height: 140px;
  width: 140px;
  margin-top: 13px;
  border-radius: 0px;
}

.top-inner {
  margin: auto;
  position: relative;
  top: -120px;
  margin-left: 35px;
}

.midle {
  padding: 0px;
  margin: auto;
  width: 400px;
  height: 132px;
  margin-top: 26px;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.39em;
  color: #ffffff;
}

.midlebot {
  margin: 40px 51px 0px 51px;
  border: 4px solid #f0fff0;
  color: white;
  width: 302px;
  height: 50px;
}

.midle-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  font-variant: small-caps;
}

.bot {
  margin: auto;
  margin-top: 26px;
  margin-left: 53px;
  border: 4px solid #f0fff0;
  color: white;
  width: 302px;
  height: 50px;
}

.bot-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  font-variant: small-caps;
}

.href {
  text-decoration: none;
  color: #f0fff0;
}
